doctype html
html
  head
    title= description
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='description', content=description)
    meta(name='og:description', content=description)
    meta(name='twitter:description', content=description)
  body
    block content
